.git
.github
.DS_Store
.env
.env.*
!.env.example
!.env.grafana.example
!.env.postgres.example
!.env.postgres.roles.example
**/target
**/node_modules
**/dist
**/.terraform
**/backend.hcl
**/*.tfstate
**/*.tfstate.*
data
tmp
*.log
