GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=
GRAFANA_POSTGRES_DATASOURCE_NAME=Postgres
GRAFANA_POSTGRES_DATASOURCE_UID=postgres
GRAFANA_POSTGRES_HOST=timescaledb-0
GRAFANA_POSTGRES_PORT=5432
GRAFANA_POSTGRES_DATABASE=polymarket
GRAFANA_POSTGRES_USER=postgres
GRAFANA_POSTGRES_SSL_MODE=disable
