MARKET_DATA_INGESTER_ADMIN_TOKEN=
MARKET_DATA_INGESTER_CHAINLINK_DATA_STREAMS_API_KEY=
MARKET_DATA_INGESTER_CHAINLINK_DATA_STREAMS_API_SECRET=
MARKET_DATA_INGESTER_CHAINLINK_DATA_STREAMS_CANDLESTICK_API_KEY=
